body
{
background: url(../img/11.png) no-repeat;
background-attachment: fixed;
height:100%;
background-size:cover;
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom:0px;
}
#bloc_image
{
background: url('../img/17.png') center;
background-repeat: no-repeat;
height: 250px;
margin: auto;
}
#bloc_principal
{
width: 1230px;
margin: auto;
margin-top: 1px;
height: 1500px;
border-radius: 25px;
margin-right: 155px;
}
#ACTU
{
width: 610px;
background-color: white;
margin: auto;
margin-top: 7px;
height: 360px;
border-radius: 8px;
float: left;
margin-bottom:8px;
background: url('../img/final 022.png')no-repeat center;
}
#AUTOMNE
{
width: 610px;
background-color: white;
margin: auto;
margin-top: 7px;
height: 360px;
border-radius: 8px;
float: right;
margin-bottom:8px;
background: url('../img/final 025.png')no-repeat center;
}
#Nouveautés_et_sorties_2019
{
width: 610px;
background-color: white;
margin: auto;
margin-top: 7px;
height: 360px;
border-radius: 8px;
float: left;
margin-bottom:8px;
background: url('../img/final 024.png')no-repeat center;
}
#ANIMES
{
width: 610px;
background-color: white;
margin: auto;
margin-top: 7px;
height: 360px;
border-radius: 8px;
float: right;
margin-bottom:8px;
background: url('../img/final 026.png')no-repeat center;
}
#Les_Incontournables
{
width: 610px;
background-color: white;
margin: auto;
margin-top: 7px;
height: 360px;
border-radius: 8px;
float: left;
margin-bottom:8px;
background: url('../img/final 028.png')no-repeat center;
}
#Les_scènes_cultes
{
width: 610px;
background-color: white;
margin: auto;
margin-top: 7px;
height: 360px;
border-radius: 8px;
float: right;
margin-bottom:8px;
background: url('../img/final 027.png')no-repeat center;
}
#bannière_titre
{
position: absolute;
bottom: 0;
border-radius: 0px 0px 5px 5px;
width: 99.5%;
height: 33px;
padding-top: 15px;
padding-left: 4px;
background-color: rgba(24,24,24,0.8);
color: white;
font-size: 0.8em;
text-align: center;
}
aside
{
background-color: rgba(84, 130, 53, 0.6);
float: left;
margin-top: 55px;
width: 300px;
position:relative;
border-radius: 25px;
height: 1096px;
text-align: center;
flex: 1.2;
box-shadow: 0px 2px 5px #1c1a19;
border-radius: 25px;
padding: 10px;
color: white;
font-size: 0.9em;
}
section h1, footer h1, nav a
{
font-family: Dayrom, serif;
font-weight: normal;
text-transform: uppercase;
}
header
{
display: flex;
justify-content: space-between;
align-items: flex-end;
color: white;
}
#titre_principal
{
display: flex;
flex-direction: column;
}
#logo
{
display: flex;
flex-direction: row;
align-items: baseline;
}
#logo img
{
width: 59px;
height: 60px;
}
header h1
{
font-family: 'BallparkWeiner', serif;
font-size: 2.5em;
font-weight: normal;
margin: 0 0 0 10px;
}
header h2
{
font-family: Dayrom, serif;
font-size: 1.1em;
margin-top: 0px;
font-weight: normal;
margin-top: 65px;
}
nav ul
{
list-style-type: none;
display: flex;
}
nav li
{
margin-right: 15px;
}
nav a
{
font-size: 1.3em;
color: white;
padding-bottom: 3px;
text-decoration: none;
position: relative;
top: 5px; height: auto;
}
nav a:hover
{
color: #760001;
border-bottom: 3px solid #760001;
}
#banniere_image
{
margin-top: 15px;
height: 33px;
border-radius: 5px;
background: url('../img/sanfrancisco.jpg') no-repeat;
position: relative;
box-shadow: 0px 4px 4px #1c1a19;
margin-bottom: 25px;
}
#banniere_image2
{
margin-top: 15px;
height: 33px;
border-radius: 5px;
background: url('../img/sanfrancisco.jpg') no-repeat;
position: relative;
box-shadow: 0px 4px 4px #1c1a19;
margin-bottom: 5px;
text-align: center;
}
#banniere_description
{
position: absolute;
bottom: 0;
border-radius: 0px 0px 5px 5px;
width: 99.5%;
height: 33px;
padding-top: 15px;
padding-left: 4px;
background-color: rgba(24,24,24,0.8);
color: white;
font-size: 0.8em;
}
aside img
{
margin-right: 5px;
}
footer
{
display: flex;
background:  url('../img/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
padding-top: 25px;
}
footer p, footer ul
{
font-size: 0.8em;
}
footer h1
{
font-size: 1.1em;
}
.bouton_rouge
{
height: 25px;
position: absolute;
right: 5px;
bottom: 5px;
background: url('images/fond_degraderouge.png') repeat-x;
border: 1px solid #760001;
border-radius: 5px;
font-size: 1.2em;
text-align: center;
padding: 3px 8px 0px 8px;
color: white;
text-decoration: none;
}

